.hero-section {
    position: relative;
    height: 200vh;

    .abstract {
        position: absolute;
        right: 0;
        top: -5rem;
        width: 35rem;
        height: rem-calc(800);
        background-color: $color-accent;
        z-index: -1;
    }

    .page-content {
        padding-top: 10rem;

        h2 {
            @include breakpoint(medium up) {
                text-align: center;
            }
            margin-top: 0;
            margin-bottom: 0;
        }

        .subheading {
            margin-top: 2rem;
            font-size: rem-calc(18);
            color: $color-black;

        }
    }
}
