@font-face {
  font-family: 'Advent Pro';
  src: url('../fonts/Advent_Pro/AdventPro-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Sacramento';
  src: url('../fonts/Sacramento/Sacramento-Regular.ttf') format('truetype');
  font-weight: 400;
}
