@import '../node_modules/foundation-sites/scss/util/util';

// Base Colors
$color-light-grey: #C5C5C5;
$color-grey: #88858C;
$color-dark-grey: #4C5B61;
$color-accent: #B0228C;
$color-black: #313339;

$color-background-light-grey: #e4e3e3;

$color-dark-purple: #01084f;
$color-purple: #4d3857;

$color-orange: #fe7a3e;

$color-blue: #022935;
$color-dark-blue: #011820;

// Fonts
// $font-roboto: "roboto", sans-serif;
$hand: "Advent Pro", sans-serif;
$sacramento: "Sacramento", sans-serif;


// font weights
// $light: 400;


// path to fontawesome font relative to compiled css files
$fa-font-path: "../src/fontawesome-css/webfonts";

// change row width
$row-width: rem-calc(1200);

$hamburger-layer-color: $color-black;
