footer {
    margin-top: 3rem;
    color: $color-light-grey;

    .footer-container {
        height: 100%;

        .contact-info {
            font-size: 2rem;
            @include breakpoint(small only) {
                font-size: 1.2rem;
            }


            a {
                color: $color-light-grey;
                font-weight: bold;
            }
        }

        .legal {
            margin-top: 2rem;
            text-align: center;
            color: $color-orange;
            font-size: rem-calc(10);
        }

        .stringlight-icon {
            text-align: center;
        }
    }
}
