.contact-form {
    min-height: 30rem;
    background-size: contain;
    background: no-repeat;
    background-position: center;
    

    .heading {
        text-align: center;

        h2 {
            margin-bottom: 0;
        }
    }
}
