@import '../node_modules/foundation-sites/scss/util/util';

// Base Colors
$color-light-grey: #C5C5C5;
$color-grey: #88858C;
$color-dark-grey: #4C5B61;
$color-accent: #B0228C;
$color-black: #313339;

$color-background-light-grey: #25262b;

// gradient colors
$color-dark-purple: #392a43;
$color-purple: #63214f;
$color-orange: #e56c3d;
$color-pink: #a73c5a;

$color-blue: #022935;
$color-dark-blue: #011820;

$gradient-colors-list: #fff, $color-dark-purple, $color-purple, $color-pink, $color-orange;

// Fonts
// $font-roboto: "roboto", sans-serif;
$hand: "Advent Pro", sans-serif;
$sacramento: "Sacramento", sans-serif;
$quicksand: "Quicksand", sans-serif;
$wavehaus: "Wavehause", sans-serif;


// font weights
// $light: 400;


// path to fontawesome font relative to compiled css files
$fa-font-path: "../src/fontawesome-css/webfonts";

// change row width
$row-width: rem-calc(1400);

$hamburger-layer-color: #FFF;
