// this is the default settings file for hamburgers.
// adjust these variables as needed to override the defaults

$hamburger-padding-x                       : 10px !default;
$hamburger-padding-y                       : 10px !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 8px !default;
$hamburger-layer-color                     : #fff !default;
$hamburger-layer-border-radius             : 1px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.35s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : 0 !default;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  // 3dx,
  // 3dx-r,
  // 3dy,
  // 3dy-r,
  // 3dxy,
  // 3dxy-r,
  // arrow,
  // arrow-r,
  // arrowalt,
  // arrowalt-r,
  // arrowturn,
  // arrowturn-r,
  // boring,
  // collapse,
  // collapse-r,
  // elastic,
  // elastic-r,
  emphatic,
  emphatic-r,
  // minus,
  // slider,
  // slider-r,
  // spring,
  // spring-r,
  // stand,
  // stand-r,
  // spin,
  // spin-r,
  // squeeze,
  // vortex,
  // vortex-r
) !default;

@import "hamburgers";
