.btn {
    min-width: 10rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: $color-light-grey;
    font-size: rem-calc(14);
    display: inline-block;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    &::before {
        transition: all .3s ease-in-out;
        content: '';
        position: absolute;
        right: -1rem;
        top: -1rem;
        bottom: 0;
        width: 70%;
        background-color: darken($color-light-grey, 10);
        transform: rotate(45deg) translateY(-1rem);
    }

    &::after {
        transition: all .3s ease-in-out;
        @extend .fa;
        content: '\f061';
        position: absolute;
        top: 35%;
        right: 1rem;
    }

    &:hover {
        &:before {
            transition: all .3s ease-in-out;
            background-color: darken($color-light-grey, 5);
        }
        &::after {
            transition: all .3s ease-in-out;
            right: .75rem;
        }
    }
}
