body {
    font-family: $hand;
    color: $color-dark-grey;
    font-size: rem-calc(16);
}

h1, .h1 {
    font-size: rem-calc(66);
    color: $color-black;
    letter-spacing: 1px;
}

h2 .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}
